/target/
target/
src/test/server/log
/src/test/server/log
.classpath

docker/wildfly/standalone/log/*.log
/docker/wildfly/standalone/log/*.log
/docker/wildfly/standalone/deployments/SpringRestApiDemo.war
/docker/wildfly/standalone/deployments/SpringRestApiDemo.war.deployed
docker/wildfly/standalone/deployments/SpringRestApiDemo.war
docker/wildfly/standalone/deployments/SpringRestApiDemo.war.deployed
/jboss.server.log.dir_IS_UNDEFINED
jboss.server.log.dir_IS_UNDEFINED
