<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j='http://jakarta.apache.org/log4j/'>	
	<appender name="STDOUT"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<appender name="apilogger"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File"
			value="${jboss.server.home.dir}/log/apilogger.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<!-- <param name="MaxFileSize" value="20MB" /> -->
<!-- 		<param name="MaxBackupIndex" value="10" /> -->
		<!-- <param name="Threshold" value="info"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>
	

	<category name="apiliblogger">
		<level value="INFO"/>
		<appender-ref ref="apilogger"  />
	</category>
	
	<root>
		<!-- <priority value ="info" /> -->
		<priority value="INFO"></priority>
		<appender-ref ref="apilogger" />
<!--         <appender-ref ref="STDOUT" /> -->
	</root>
</log4j:configuration>